<!-- templates/registration/login.html -->

{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="main">
    <div class="register">
        <h1>REGISTER</h1>
        <form method="post">
          {% csrf_token %}
          <div class="input">{{ signupform.username }}</div>
          <div class="input">{{ signupform.password1 }}</div>
          <div class="input">{{ signupform.password2 }}</div>
          <button class="register" type="submit" value='sign_up'>Register</button>
        </form>
    </div>

    <div class="logger">
        <h1>LOG IN</h1>
        <form method="post">
          {% csrf_token %}
          <div class="input">{{ form.username }}</div>
          <div class="input">{{ form.password }}</div>
          {{ form.non_field_errors }}
          <div class="buttonLogger"><button class="logger" type="submit" value='sign_in'>Login</button></div>
        </form>
    </div>
</div>

{% endblock %}
