
{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Add Post{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/addPost.css' %}">
{% endblock %}

{% block log %}
  {% if user.is_authenticated %}
    <a class="login" href="{% url 'logout' %}">Logout</a>
  {% else %}
    <a class="login" href="{% url 'login' %}">Login</a>
  {% endif %}
{% endblock %}




{% block content %}
<form method="post" enctype="multipart/form-data">
<div class="form">
  <div class="textPost">
      {% csrf_token %}
      {{ form.post }}
  </div>

  <div class="imgPost">
    <div>
      <div class="imgUpload"> {{ form.img }} </div>
    </div>

    <div class="post">
      <button type="submit">Post</button>
    </div>
  </div>
</div>
</form>

{% endblock %}
