body, html{
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

p{
    margin: 0px;
}





/**** HEADER ****/

header{
    background-color: black;
    color: white;
    height: 60px;
    line-height: 60px;
    display: flex;
    flex-direction: row;
}

/* NAV */
nav{
    flex: 0 0 70%;
}

a{
    color: white;
    padding-left: 20px;
    text-decoration: none;
}

nav.log{
    text-align: right;
    flex: 0 0 30%;
}

a.logout{
    padding-right: 20px;
}
/* !NAV */



/**** !HEADER ****/



/**** MAIN ****/
main{
    height: calc(100% - 65px);
    display: flex;
    flex-direction: row;
}

div.feed{
    background-color: lightskyblue;
    flex: 0 0 50%;
}

div.quotes{
    background-color: lightgrey;
    flex: 0 0 50%;
}



/**** !MAIN ****/


