
{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Add Post{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/addPost.css' %}">
{% endblock %}

{% block log %}
  {% if user.is_authenticated %}
    <a class="login" href="{% url 'logout' %}">Logout</a>
  {% else %}
    <a class="login" href="{% url 'login' %}">Login</a>
  {% endif %}
{% endblock %}




{% block content %}
<div class="textPost">
  <form method="post">
    {% csrf_token %}
    {{ form.post }}
    <button type="submit">Post</button>
  </form>
</div>

<div class="imgPost">
  <div>
    <input class="imgUpload" placeholder="Image Upload (Optional)">
  </div>

  <div class="post">
      <button type="submit">Post</button>
  </div>



<h2>{{ text }}</h2>
{% for post in posts %}
  <h1>{{ post.post }}</h1>
  <p>Posted by: {{ post.user.get_full_name }} on {{ post.date }}</p>
{% endfor %}
<form method="post">
  <!-- {{ form.as_p }} -->
</form>

</div>

{% endblock %}
