
{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Add Post{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/addPost.css' %}">
{% endblock %}

{% block log %}
  {% if user.is_authenticated %}
    <a class="login" href="{% url 'logout' %}">Logout</a>
  {% else %}
    <a class="login" href="{% url 'login' %}">Login</a>
  {% endif %}
{% endblock %}




{% block content %}
<div class="textPost">
  <form method="post">
    {% csrf_token %}
    {{ form.post }}
    <button type="submit">Post</button>
  </form>

  <h2>All Friends</h2>
  {% for user in users %}
    <h3>{{ user.username }}</h3>
  {% endfor %}


  <!-- {% for friend in friends %}
    <a href="{% url 'accounts:view_profile_with_pk' pk=user.pk %}">
      <h3>{{ friend.username }}</h3>
    </a>
  {% endfor %} -->

</div>

<div class="imgPost">
  <div>
    <input class="imgUpload" placeholder="Image Upload (Optional)">
  </div>

  <div class="post">
      <button type="submit">Post</button>
  </div>



<h2>{{ text }}</h2>
{% for post in posts %}
  <h1>{{ post.post }}</h1>
  <p>Posted by: {{ post.user.username }} on {{ post.date }}</p>
{% endfor %}
<form method="post">
  <!-- {{ form.as_p }} -->
</form>

</div>

{% endblock %}
