<!-- templates/home.html -->

{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block log %}
  {% if user.is_authenticated %}
    <a class="login" href="{% url 'logout' %}">Logout</a>
  {% else %}
    <a class="login" href="{% url 'login' %}">Login</a>
  {% endif %}
{% endblock %}




{% block content %}

<div class="feed">
  {% if user.is_authenticated %}
    Hi {{ user.username }}!

    <h2>{{ text }}</h2>
    {% for post in posts %}
      <div class="post">
        <div class="name">
          <h3 class="usrnm">{{ post.user.username }}</h3>
        </div>
          <div class="postContent">
          <p class="text">{{ post.post }}</p>
            <img src="media/{{ post.img }}" width="200px">
\        </div>
      </div>
    {% endfor %}

  {% else %}
    <p>You are not logged in</p>
    <p>Please log in!</p>
    <a href="{% url 'login' %}">login</a> |
    <a href="{% url 'signup' %}">signup</a>
  {% endif %}

</div>

<div class="quotes">
</div>
{% endblock %}
