<!-- templates/home.html -->

{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block log %}
  {% if user.is_authenticated %}
    <a class="login" href="{% url 'logout' %}">Logout</a>
  {% else %}
    <a class="login" href="{% url 'login' %}">Login</a>
  {% endif %}
{% endblock %}




{% block content %}

<div class="feed">
  {% if user.is_authenticated %}
    Hi {{ user.username }}!
  {% else %}
    <p>You are not logged in</p>
    <p>Please log in!</p>
    <a href="{% url 'login' %}">login</a> |
    <a href="{% url 'signup' %}">signup</a>
  {% endif %}


  <h2>{{ text }}</h2>
  {% for post in posts %}
    <h1>{{ post.post }}</h1>
    <p>Posted by: {{ post.user.username }} on {{ post.date }}</p>
  {% endfor %}


</div>

<div class="quotes">
</div>
{% endblock %}
