body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: lightgrey;
}

p{
    margin: 0px;
}


h3{
  margin-top: 0px;
}





/**** HEADER ****/

header{
    background-color: black;
    color: white;
    height: 60px;
    line-height: 60px;
    display: flex;
    flex-direction: row;
}

/* NAV */
nav{
    flex: 0 0 70%;
}

a{
    color: white;
    padding-left: 20px;
    text-decoration: none;
}

nav.log{
    text-align: right;
    flex: 0 0 30%;
}

a.login{
    padding-right: 20px;
}
/* !NAV */


/**** !HEADER ****/



/**** MAIN ****/

main{
    margin: 30px;
    display: flex;
    flex-direction: row;
}

/* CURRENT FRIEND */
div.currFriends{
    margin: 0;
    padding-right: 30px;
    flex: 0 0 75%;
}

div.friends{
    border: 0px;
    padding: 15px;
    width: 97%;
    height: 265px;
    font-size: large;
    background-color: white;
    color: black;
}

div.list{
    display: flex;
    flex-direction: column;
}

div.rowList{
    display: flex;
    flex-direction: row;
    width: 230px;
    justify-content: space-between;
}

input::placeholder{
    color: black;
}

div.input{
    padding-bottom: 20px;
}
/* !CURRENT FRIEND */


/* IMGPOST */
div.friendsList{
    display: flex;
    flex-direction: column;
    flex: 0 0 22%;
}

div.possFriends{
    padding: 15px;
    height: 170px;
    overflow: scroll;
    background-color: white;
}

h3.allUsers{
  margin-bottom: 10px;
}

a.users{
  padding: 2px;
  color: black;
}

div.post{
    padding-top: 35px;
}

button.x{
    border: 0px;
}

button.green{
    background-color: forestgreen;
    height: 50px;
    width: 100%;
    font-size: large;
}

/* !IMGPOST */



/**** !MAIN ****/
