body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: lightgrey;
}

p{
    margin: 0px;
}





/**** HEADER ****/

header{
    background-color: black;
    color: white;
    height: 60px;
    line-height: 60px;
    display: flex;
    flex-direction: row;
}

/* NAV */
nav{
    flex: 0 0 70%;
}

a{
    color: white;
    padding-left: 20px;
    text-decoration: none;
}

nav.log{
    text-align: right;
    padding-right: 20px;
    flex: 0 0 30%;
}

a.login{
    padding-right: 20px;
}
/* !NAV */


/**** !HEADER ****/



/**** MAIN ****/

div.main{
    margin: 60px;
    display: flex;
    flex-direction: row;
}

div.register{
    padding-bottom: 50px;
    background-color: white;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1 0 50%;
}

div.logger{
    padding-bottom: 50px;
    background-color: forestgreen;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1 0 50%;
}

input{
    border: 0px;
    text-align: center;
    width: 250px;
    height: 30px;
    font-size: large;
    color: black;
    background-color: lightgrey;

}

input::placeholder{
    color: black;
}

div.input{
    padding-bottom: 20px;
}

button{
    border-radius: 8px;
    width: 140px;
    height: 40px;
    border: none;
    font-size: large;
}

button.register{
    background-color: forestgreen;
}

button.logger{
    background-color: red;
}

div.buttonLogger{
    padding-top: 58px;
}

/**** !MAIN ****/
